@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: local('Manrope'),
         url('../fonts/Manrope/web/manrope-regular.woff2') format('woff2'), 
         url('../fonts/Manrope/web/Manrope-Regular.woff') format('woff'),
         url('../fonts/Manrope/ttf/manrope-regular.ttf') format('ttf'),
         url('../fonts/Manrope/otf/manrope-regular.otf') format('eot');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: local('Manrope'),
         url('../fonts/Manrope/web/manrope-medium.woff2') format('woff2'), 
         url('../fonts/Manrope/web/Manrope-Medium.woff') format('woff'),
         url('../fonts/Manrope/ttf/manrope-medium.ttf') format('ttf'),
         url('../fonts/Manrope/otf/manrope-medium.otf') format('eot');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: local('Manrope'),
         url('../fonts/Manrope/web/manrope-bold.woff2') format('woff2'), 
         url('../fonts/Manrope/web/Manrope-Bold.woff') format('woff'),
         url('../fonts/Manrope/ttf/manrope-bold.ttf') format('ttf'),
         url('../fonts/Manrope/otf/manrope-bold.otf') format('eot');
}

