/* медиа для фиксированной ширины контейнера на разных размерах */
@media (min-width: 576px) { 
    .container{
        max-width: 100%;        
    }
 }
@media (min-width: 768px) { 
    .container{
        max-width: 720rem;        
    }
 }
@media (min-width: 992px) { 
    .container{
        max-width: 960rem;        
    } 
   
 }
@media (min-width: 1200px) { 
    .container{
        max-width: 1120rem;        
    } 
   
 }
/* --- конец---- */


@media (max-width: 1200px) { 
    
    .advantages-img {
        min-width: 420rem;
        height: 250rem;
    }
    .advantages-img img {
       height: 100%;
    }
    .advantages-list {
        width: unset;
    }

    .company-img__item:nth-child(1) {
        padding-left: 50rem;
    }
    .company-img__item:nth-child(3) {
        padding-left: 280rem;
    }
    .technical-inner {
        /* height: 950px; */
        position: relative;
    }
    .nav-link {
        font-size: 13rem;
    }
}
 
@media (max-width: 992px) { 

    .utp {
        font-size: 56rem;
    }
    .about-bubble {
        display: none;
    }
    .header-phone{
        display: none;
    }
    /* header */
    .hamburger {
        display: inline-block
    }
    .header-logo {
        -webkit-box-ordinal-group: 0;
                order: -1;
    }
    .nav {
        /* display: none; */
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        z-index: 1000;
        position: absolute;
        /* top: 0; */
        left: 0;
        right: 0;
        background: transparent;
        box-shadow: none;
        display: block;
        position: fixed;
        top: 80rem;
        left: 0;
        right: 0;
        bottom: 0;
        overflow:auto;
        background: transparent;
    }
    .nav.is-active {
        
        
        -webkit-transform: translateY(0);
        
        
                transform: translateY(0);
    }
    .nav-inner {
      
        background: #fff;
        box-shadow: 0rem 3rem 9rem rgba(47, 47, 47, 0.21);
    }
    .nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
    .nav-item {
     
        width: 100%;
        
    }
    .nav-link {
        font-size: 20rem;
        line-height: 45rem;
        display: block;
        padding-left: 10rem;
        border-bottom: 1rem solid #f1f1f1;
        letter-spacing: 0.7rem;
        
    }
    .nav-item:last-child .nav-link{
        border-bottom: none;
    }
    .header {
        height: 80rem;
        z-index: 1000;
    }
    .header-top {
        height: 80rem;
        position: fixed;
        width: 100%;
        z-index: 1100;
    }

    /* main */
    .main {
        background-position: left 25% top;
        margin-top: 80rem;
    }

    /* .about */
    .about-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;     
    }
    .about-photo {
        background-position: center top;
        height: 450rem;
    }
    .about-video {
        left: 50%;
        top: 450rem;
    }
    .about-content {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
    }
    .about-content__inner {
        max-width: 720rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    /* advantages */
    .advantages-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
    .advantages-img {
        -webkit-box-pack: center;
                justify-content: center;
        margin-bottom: 20rem;
    }
    .advantages-item__img {
        margin-left: 20rem;
    }
    /* technical */
    .technical-inner {
        /* height: 700px; */
        height: 80vw;
        position: relative;
        margin: 0 -22%;
    }
    .technical-bubble {
        top: 4%;
        left: 20%;
    }
    .technical-list__item {
        flex-basis: 50%;
        
    }
  
    .technical-list__name {
        padding: 0 10rem;
    }

    /* documents */
    .documents-slider {
        width: 100%;
    }
    
    /* cooperation */
    .cooperation-inner {
        padding: 70rem 0;
    }
    .cooperation-block {
        border: none;
        width: unset;
    }
    .cooperation-block:before {
        content:'';
        display: block;
        position: absolute;
        left: 53rem;
        top: 170rem;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        border-left: 4rem dotted #e4e4e4;
        width:1rem;
        bottom: 100rem;
        z-index: -1;
    }
    .cooperation-item {
        position: initial;
        -webkit-transform: unset;
                transform: unset;
        transform: unset;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        margin-bottom: 30rem;
    }
    .cooperation-title {
        position: initial;
        text-align: center;
        margin-bottom: 60rem;
    }
    .cooperation-item__img {
        margin-bottom: 0rem; 
        margin-right: 30rem;
    }
    .cooperation-item__name {
        text-align: left;
    }
    .company-img {
        grid-auto-rows: 200rem;
    }
    .company-img__item:nth-child(1) {
        grid-column: span 12;
        grid-row: span 1;   
    }
    .company-img__item:nth-child(2) {
        grid-column: span 12;
        grid-row: span 1;   
    }
    .company-img__item:nth-child(3) {
        grid-column: span 12;
        grid-row: span 1;   
    }
    .company-img__item:nth-child(3) img {
        -webkit-transform: scale(-1, 1);
                transform: scale(-1, 1);
    }
   
    .company-img__item {
        padding: 0;
        padding-left: 50rem !important;
    }
    .company-img__img:before {
        content:'';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.498546511627907)), color-stop(35%, rgba(0,0,0,0.28052325581395354)), to(rgba(0,0,0,0)));
        background: linear-gradient(90deg, rgba(0,0,0,0.498546511627907) 0%, rgba(0,0,0,0.28052325581395354) 35%, rgba(0,0,0,0) 100%);
        z-index: 1;
    }
    .company-img__text {
        color: white;
    }
    .feedback-photo {
        display: none;
    }
    .feedback-content {
        width: 100%;
        -webkit-box-pack: center;
                justify-content: center;
    }
    .faq-slider {
        width: 100%;
    }
    .contacts-content {
        flex-wrap: wrap;
    }
    .contacts-block:first-child {
        margin-bottom: 35rem;
    }
    .footer-inner {
        flex-wrap: wrap;
    }
    .footer-inner > * {
        margin: 20rem;

    }
   
}

@media (max-width: 768px) { 
    .technical-popup__item {
        width: 500rem;
        /* height: 500px; */
    }
    .technical-popup__inner {
        max-width: 500rem;
        min-width: 500rem;
        /* height: 500px; */
    }
    .technical-inner {
        margin: 0 -35%;
    }
    .technical-bubble {
        
        left: 22%;
        padding: 10rem;

    }
    .technical-bubble:after {
        content: none;
    }
    .technical-bubble:before {
        content: none;
    }
    .advantages {
        padding-top: 50rem;
    }
    .about-photo {
        background-size: cover;
    }
   
    .slogan-inner{
        height: auto;
        padding: 50rem 0;
    }
    .nav-link {
        font-size: 18rem;
        
    }
    .advantages-img {
        padding-left: 0;
    }
    .advantages-img img {
        -webkit-transform: translateX(12%);
                transform: translateX(12%);
       
    }
    .advantages-item__img img {
        width: 40rem;
        height: 40rem;
    }
    
    .main {
        background-position: left 50% top;
        height: 600rem;
    }
    .cooperation-item__name {
        white-space: normal;
    }
    .utp {
       font-size: 36rem;
    }
    .utp--small {
       font-size: 22rem;
       line-height: 1.5;
    }
    .slogan-text {
        font-size: 30rem;
    }
    .technical-inner {
        height: 100vw;
        /* height: unset; */
        /* padding-top: 100%; */
        position: relative;
    }
    
    .faq-item__title, .faq-item__text {
        width: unset;
        padding: 20rem;
    }
    .faq-item__title {
        font-size: 18rem;
        min-height: 150rem;
    }
    .faq-item__text {
        font-size: 15rem;
        min-height: 250rem;
    }
 
    .faq-item {
        padding: 0rem 25rem;
    }
    .what-content {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
               flex-direction: column; 
    }
    .what-content__img {
        -webkit-box-ordinal-group: 0;
                order: -1;
        margin-bottom: 30rem;
        margin-left: 0;
    }
    .what-img {
        margin-bottom: 30rem;
    }
    .cooperation-title {
        font-size: 30rem;
    }
 
    .advantages-item__img {
        margin-left: 10rem;
        margin-right: 20rem;
    }
    .advantages-item__text {
        font-size: 16rem;
        line-height: 24rem;
    }
    .advantages-title {
        font-size: 25rem;
    }
    .main {
        padding-top: 50rem;
    }
    .advantages {
        padding-top: 30rem;
    }
    .technical-title {
        padding-bottom: 50rem;
    }
    .technical-list {
        padding: 50rem 0 0 0;
    }
    .portfolio {
        padding-top: 50rem;
        padding-bottom: 50rem;
    }
    .portfolio-title {
        margin-bottom: 50rem;
    }
    .technical-tab__button {
        margin-bottom: 50rem;
    }
    .documents {
        padding: 50rem 0 80rem 0;
    }
    .documents-title {
        margin-bottom: 50rem;
    }
    .cooperation-inner {
        padding-top: 50rem;
    }
    .company-title {
        margin-bottom: 50rem;
    }
    .company-advantage {
        margin-bottom: 50rem;
    }
    .feedback-inner{
        padding: 50rem 0;
    }
    .faq-title {
        font-size: 24rem;
        margin-bottom: 40rem;
    }
    .faq {
        padding: 50rem 0;
    }
    .faq-content {
        padding-top: 100rem;
    }
    .faq-slider .owl-dots {
        top: -100rem;
    }
    .contacts {
        padding: 50rem 0;
    }
    .contacts-title {
        margin-bottom: 50rem;
    }
    .what {
        padding: 50rem 0 100rem 0;
    }
    .what-title {
        margin-bottom: 50rem;
    }
    .feedback-form {
        padding: 30rem 0 40rem 0;
        height: auto;
    }
    .feedback-form__title {
        margin-bottom: 30rem;
    }
}

@media (max-width: 576px) {
    .technical-popup__slider .owl-dots {
        bottom: 70rem;
    }
    .technical-popup__item {
        width: 100%;
        height: 450rem;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 30rem;
        height: 3rem;
    }
    .header-logo {
        width: 120rem;
    }
    .technical-point {
        width: 30rem;
        height: 30rem;
        font-size: 14rem;
    }
    .technical-point--5 {
        top: 53%;
    }
    .contacts-block__subtitle {
        width: 120rem;
    }
    .advantages-title:after {
        content: none;
    }
    .company-people__title {
        font-size: 20rem;
    }
    .company-text {
        font-size: 17rem;
    }
    .footer-inner {
        padding: 18rem 0;
    }
    .footer-logo {
        width: 120rem;
    }
    .footer-inner p {
        font-size: 13rem;
    }
    .footer-inner > * {
        margin: 0 20rem;
    }
    .technical-list__item {
        margin-bottom: 25rem;
        flex-basis: 100%;
    }
    .technical-list__img img {
        height: 160rem;
    }
    .technical-list__title {
        margin-bottom: 20rem;
    }
    .faq-title {
        font-size: 20rem;
    }
    .technical-title, .portfolio-title, .documents-title,.cooperation-title, .section-title {
        font-size: 28rem;
    }
    .advantages-title {
        display: -webkit-box;
        display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    text-align: center;
    }
    .advantages-title:after {
        bottom: -15rem;
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
    }
    .container {
        padding: 0 20rem;
    }
    .nav-inner {
        margin: 0 -20rem;
    }
    .header, .header-top__inner, .header-top {
        height: 60rem;
    }
    .nav {
        top: 60rem;
    }
    .main {
        margin-top: 60rem;
    }
    .nav-link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15rem;
        /* letter-spacing: 0.8px; */
    }
    .about-content__inner {
        padding-left: 20rem;
        padding-right: 20rem;
    }
    .technical-list__subtitle {
        margin-bottom: 0rem;
    }
    .technical-list__img {
        margin-bottom: 0;
    }
  
    .technical-popup__inner {
        width: 90%;
        min-width: unset;
    }
  
    html {
        font-size: 0.9px;
    }
    .utp {
        font-size: 22rem;
     }
     .utp--small {
        font-size: 15rem;
        line-height: 1.5;
        margin-bottom: 16rem;
     }
    .header-bid {
        display: none;
    }
    .advantages-img {
        margin-bottom: 35rem;
        min-width: unset;
        height: 150rem;
    }
    .feedback-form {
        padding-left: 30rem;
        padding-right: 30rem;
    }
    .feedback-form__input {
        width: 100%;
    }
    .feedback-form__button {
        width: 100%;
    }
    .cooperation-item__img {
        min-width: 80rem;
        height: 80rem;
    }
    .cooperation-item__img img{
        height: 40rem;
        width: 40rem;
        -o-object-fit: contain;
           object-fit: contain;

    }
    .cooperation-block:before {
        left: 41rem;
    }
    .documents-item {
        width: 270rem;
        height: 360rem;
    }
    .documents-slider .owl-nav [class*=owl-] {
        bottom: unset;
        top: 42%;
    }
    .documents-slider .owl-nav .owl-prev {
        left: -10rem;
    }
    .documents-slider .owl-nav .owl-next {
        right: -10rem;
    }
    .faq-slider .owl-nav .owl-prev {
        left: -20rem;
    }
    .faq-slider .owl-nav .owl-next {
        right: -20rem;
    }
    .faq-slider .owl-dots .owl-dot span {
        width: 35rem;
        height: 35rem;
        font-size: 16rem;
    }
    .faq-item__num {
        width: 40rem;
        height: 40rem;
        font-size: 17rem;
    }
    .faq-item__title{
        font-size: 16rem;
        line-height: 1.4;
    }
    .faq-item__title--small{
        font-size: 13rem;
        line-height: 1.4;
    }
    .faq-item__text{
        font-size: 13rem;
        line-height: 1.45;
    }
    .company-slider .owl-dots .owl-dot span {
        width: 15rem;
        height: 15rem;
    }
    .company-slider .owl-dots {
        bottom: -58rem;
    }
    .company-img__item {
        padding-left: 30rem !important;
    }
    .contacts-block {
        padding: 25rem;
    }
    .popup {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .contacts-block__info:before {
        content: none;
    }
    .about {
        overflow: hidden;
    }
    .advantages-item__img {
        margin-left: 0rem;
        margin-right: 15rem;
    }
    .technical-popup__item {
        height: 400rem;
    }
}